body{
    background:linear-gradient(200deg, rgb(188, 188, 225),  lightyellow);
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: montserrat;
 }
 p{
    line-height: 2;
 }
 .all{
  position:relative;
  display:center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,30%);
  width: 400px;
  background: whitesmoke;
  border-radius:10px;
 }
 
  h1{
    font-weight: bold;
    font-size: 50px;
    color:rgb(148, 148, 183);
    top:50px
  }
  .all label{
    position: absoulte;
    top: 50%;
    left: 5p;
    color:lightsteelblue;
    transform: translateY(-50%);
    transition:.5s;
    
  }
  
  h2{
    color:rgb(148, 148, 183);
    font-size: 30px;
    text-align:center;
  }

  a:hover{
    color:lightsteelblue;
  }
   button{
    border:lightsteelblue;
    size: 10000px;

  }
  button:hover {
    background-color: aliceblue;
  }
  .input_box{
  position: relative;
  width: 95%;
  display:center;
  padding: 10px 2px;
  }

  input{
    width:100%;
    height: 30px;
    font-size: 15px;
    padding: 0 5px;
  }

.all input:focus ~ label,
.all input:valid ~ label{
  top: -5px;
  color: lightsteelblue;
}

 